/* Main CSS */

* {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 75px 800px 220px;
    margin: auto;
    max-width: 1440px;
}
  
.header {
    grid-row-start: 1;
    background: white;
}
  
.content {
    grid-row-start: 2;
}
  
.footer {
    grid-row-start: 3;
    background: palegoldenrod;
}

/* Specific CSS */

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.navbar-nav li {
    display: inline-block;
}

.img-fluid {
    height: 75px;
    width: 140px;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

#logo {
    color: #C80B0E
}

.navbar-toggler {
    margin-right: 2%;
}



#international-event {
    background: #C80B0E;
    height: auto;
    max-width: none;
    width: 100%;
}

#wish-card {
    width: 90%;
    height: auto;
    object-fit: fit-content;
}

.text-divider {
    display: flex;
    align-items: center;
    --text-divider-gap: 1rem;
}

.text-divider::after {
    content: '';
    height: 1px;
    background-color: white;
    flex-grow: 1;
    margin-left: var(--text-divider-gap);
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5em;
}


/* No Repeat CSS */

.header, .content, .footer {
    grid-column-start: 1;
    grid-column-end: 12;
}

.container, .navbar, #wish-card, .navbar-brand, a {
    padding: 0;
}

.img-fluid, .navbar-brand, .navbar, a {
    margin: 0;
}

#find-out, .navbar-toggler {
    pointer-events: none;
}

#divider, h1 {
    font-weight: 700;
}



/* Media Queries */

@media screen and (min-width: 992px) {
    .header {
        height: 125px;
    }
}

@media screen and (min-width: 768px) {
    #international-event {
        height: 350px;
    }

    #wish-card {
        float: left;
        width: 50%;
        height: auto;
        padding-left: 1rem;
    }

    h1 {
        margin-left: 50%;
        margin-top: 30px;
    }

    #find-out {
        margin-top: 30px;
        margin-left: 50%;
    }
}

@media screen and (max-width: 374px) {
    .navbar-toggler {
        visibility: hidden;
    }
}