/* Main CSS */

* {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: grid;
}

#body-container {
    grid-template-columns: auto;
    grid-template-rows: 75px auto 220px;
    margin: auto;
    max-width: 1440px;
}
  
.header {
    grid-row-start: 1;
    background: white;
}
  
.content {
    grid-row-start: 2;
}
  
.footer {
    grid-row-start: 3;
    background: palegoldenrod;
}



/* Header CSS */

.navbar-nav {
    width: 100%;
    justify-content: space-evenly;
}

.navbar-nav li {
    display: inline-block;
}

.img-fluid {
    height: 75px;
    width: 140px;
}

.navbar-brand {
    justify-content: center;
    align-items: center;
    width: 300px;
}

#logo {
    color: #C80B0E
}

.navbar-toggler {
    margin-right: 2%;
}



/* Content event CSS */

#international-event {
    max-width: none;
    width: 100%;
}

#wish-card {
    width: 90%;
    object-fit: fit-content;
}

#event-divider {
    align-items: center;
    --event-divider-gap: 1rem;
}

#event-divider::after {
    content: '';
    height: 1px;
    background-color: white;
    flex-grow: 1;
    margin-left: var(--event-divider-gap);
}

h1 {
    font-size: 2rem;
    line-height: 1.5em;
}



/* Content info CSS */

#info-divider {
    align-items: center;
    --event-divider-gap: 1rem;
}

h2 {
    width: 75%;
}

#info-divider::before {
    content: '';
    height: 3px;
    flex-grow: 1;
    margin-right: var(--event-divider-gap);
}

#info-container {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin: auto;
}



/* No Repeat CSS */

.header, .content, .footer {
    grid-column-start: 1;
    grid-column-end: 12;
}

.container, .navbar, #wish-card, .navbar-brand, a {
    padding: 0;
}

.img-fluid, .navbar-brand, .navbar, a {
    margin: 0;
}

.btn, .navbar-toggler {
    pointer-events: none;
}

#divider, h1, h2 {
    font-weight: 700;
}

.navbar-nav, .navbar-brand, #event-divider, #info-divider {
    display: flex;
}

#wish-card, #international-event {
    height: auto;
}

.card-btn, #info-divider::before, #international-event {
    background: #C80B0E;
}



/* Media Queries */

@media screen and (min-width: 992px) {
    .header {
        height: 125px;
    }
}

@media screen and (min-width: 768px) {
    #international-event {
        height: 350px;
    }

    #wish-card {
        float: left;
        width: 50%;
        height: auto;
        padding-left: 1rem;
    }

    h1 {
        margin-left: 50%;
        margin-top: 30px;
    }

    #find-out {
        margin-top: 30px;
        margin-left: 50%;
    }

    .card {
        display: flex;
        flex-direction: row;
    }

    .card-img {
        float: left;
        width: 50%;
    }

    .card-btn {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

@media screen and (max-width: 374px) {
    .navbar-toggler {
        visibility: hidden;
    }
}